<div class="section speakers">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">Speakers</h1>
        <div class="row">
          <div class="speaker-container">
            <a href="adam-tornhill.html"><div class="speaker-img adam-tornhill">
            </div></a>
            <h3><a class="speaker-name" href="adam-tornhill.html">Adam Tornhill</a></h3>
            <p class="speaker-details">Technical Debt Detective</p>
          </div>
          <div class="speaker-container">
            <a href="alberto-brandolini.html"><div class="speaker-img alberto-brandolini">
            </div></a>
            <h3><a class="speaker-name" href="alberto-brandolini.html">Alberto Brandolini</a></h3>
            <p class="speaker-details">Inventor of EventStorming</p>
          </div>
          <div class="speaker-container">
            <a href="anita-kvamme.html"><div class="speaker-img anita-kvamme">
            </div></a>
            <h3><a class="speaker-name" href="anita-kvamme.html">Anita Kvamme</a></h3>
            <p class="speaker-details">UX person in love with DDD</p>
          </div>
          <div class="speaker-container">
            <a href="arty-starr.html"><div class="speaker-img arty-starr">
            </div></a>
            <h3><a class="speaker-name" href="arty-starr.html">Arty Starr</a></h3>
            <p class="speaker-details">Author of Idea Flow</p>
          </div>
        </div> <!-- speakers container -->
      </div> <!-- row -->
    </div> <!-- col-lg-12-->

  </div>
</div>
