<div class="container featured-speaker">
  <div class="row">
    <div class="col-xs-12 col-sm-2 img-container">
      <img class="speaker-page-img" src={{speaker.profilePicture}}>
    </div>
    <div class="col-xs-12 col-sm-10 copy-container">
      <h1 class="speaker-header">{{speaker.firstName}} {{speaker.lastName}}</h1>
      <span class="speaker-subtitle">{{speaker.tagLine}}</span>
      <p><a class="speaker-handle" href="https://twitter.com/" target="_blank">@handle</a></p>
      <span [innerHTML]="speaker.bio"></span>

      <div *ngFor="let session of speakerSessions;">
        <h2>{{session.type[0].name}}</h2>
        <h2 class="gold">{{session.title}}</h2>
        <!--<p>Co-presented with <a href="paul-rayner.html">Paul Rayner</a></p>-->
        <span [innerHTML]="session.description"></span>
      </div>

    </div>
  </div>
</div>
