<div class="container featured-speaker">
  <div class="row">
    <div class="col-xs-12 col-sm-2 img-container">
      <img class="speaker-page-img" src={{speaker.profilePicture}}>
    </div>
    <div class="col-xs-12 col-sm-10 copy-container">
      <h1 class="speaker-header">{{speaker.firstName}} {{speaker.lastName}}</h1>
      <span class="speaker-subtitle">{{speaker.tagLine}}</span>
      <p><a class="speaker-handle" href="https://twitter.com/" target="_blank">@handle</a></p>
      <p>{{speaker.bio}}</p>


      <h2>Hands-On Session</h2>
      <h2 class="gold">EventStorming Race</h2>
      <p>Co-presented with <a href="paul-rayner.html">Paul Rayner</a></p>
      <p>Experience the dynamics of a Big Picture EventStorming by modeling a real-world complexity system, team vs team.</p>
      <p>It will be messy, loud, chaotic and entertaining. And addictive too!</p>
    </div>
  </div>
</div>
